<style>

* {
    padding: 0px;
    margin: 0px;
}

html {
    width: 100%;
    height: 100%;
    background-color: black;
    min-height: 768px;
}

h1 {
    font-size: 80px;
}



.content {
    font-family: sans-serif;
    color: #c7c7c7;

    position: absolute;
    width: auto;
    left: 10%;
    height: 100%;
    
    
}

.bios {
    display: grid;
    grid-gap: 12px;
    grid-template-rows: 2;
    grid-template-columns: 3;
}

    .bio {
        width: 60%;
    }
    
    .shannon {
        grid-column-start: 2;
        
    }
    
    .connor {
        grid-column-start: 2;
    }

    
    .headshot {
        grid-column-start: 1;
    }


/* LINK STYLING */

.nav {
    position: relative;
    padding-top: 5vh;
    width: 80%;
    left: 10%;
}

a {
    color: white;
    text-decoration: none;
    
}

a:hover {
    color: white;
    text-decoration: underline;
}

</style>
